page-modal {

    textarea{
        max-width: 100%;
        width: 98%;
        height: 50%;
        margin: 4px;
        border: 1px solid #456231;
    }
 
        // .button{
        //    background-color:  #eb0802
        // }
}
