page-profile {

    .inpt{
        border: 2px solid #2ec95c;
        border-radius: 10px;
        padding: 2px;
        color: #0091df
    }
    .btn{
      
        width: 100px;
        max-width: 100px;
    }
    .camera{
        left: -51px;
        position: relative;
        top: -10px;
        color:  rgb(93, 19, 250);;
        font-size: 2.02em
    }
    .item{
        background-color: rgba(132, 133, 133, 0)
    }
}
