<!--
  Generated template for the NotifcationListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Notification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding  class="bg">
 <div *ngIf="name === '1'">
  <ion-list>
    <ion-item class="trns"  style="background-color: #0091df; margin-top: 3px;border-radius: 8px" *ngFor="let post of posts; " (click)="viewDetails(post.idx)">
        <ion-grid>
            <ion-row>
          <ion-col col-9>
            <ion-row>
              <ion-col col-10><font class="txt">Order # : {{post.orderNo}}</font></ion-col>
              <!-- <ion-col col-2><img src="assets/imgs/Bayer.png"></ion-col> -->
              <!-- <ion-col col-6><font class="txt">Status:</font> <font style="color: rgb(202, 135, 48)">{{post.status}}</font> </ion-col> -->
            </ion-row>
            <ion-row>
             
              <ion-col col-6><font class="txt">Date: {{post.orderDate}} </font></ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-3 style="color: #66B512" ><ion-row><ion-icon  style="font-size: 25px;padding-left: 7px" ios="ios-eye" md="md-eye"></ion-icon></ion-row>
          <ion-row>{{post.status}}</ion-row>
        </ion-col>
          </ion-row>
          </ion-grid>
    </ion-item>
   
  </ion-list> 
</div>

<div *ngIf="name === '2'">
    <ion-list>
        <ion-item class="trns" style="background-color:#0091df; margin-top: 3px;border-radius: 8px" *ngFor="let post of posts; " (click)="viewReurn(post.idx)">
            
            <ion-grid>
                <ion-row>
              <ion-col col-9>
                <ion-row>
                  <ion-col col-10><font class="txt">Invoice# : {{post.invoiceNo}}</font></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6><font class="txt">Date: {{post.orderDate}} </font></ion-col>
                </ion-row>
              </ion-col>
            <ion-col col-3 style="color: #66B512" ><ion-row><ion-icon  style="font-size: 25px;padding-left: 7px;" ios="ios-eye" md="md-eye"></ion-icon></ion-row>
              <ion-row>{{post.status}}</ion-row>
              </ion-col>
              </ion-row>
            </ion-grid>
             
        </ion-item>
    
    </ion-list>
</div>

<div *ngIf="name === '3'">
    <ion-list>
        <ion-item class="trns" style="background-color: #0091df; margin-top: 3px;border-radius: 8px" *ngFor="let post of posts;  let i = index" (click)="viewScheme(post)">
          <ion-row>
            <ion-col col4> <font class="txt">Title</font></ion-col>
            <ion-col col4> <font class="txt">{{post.title}}</font></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col4><font class="txt">End Date</font></ion-col>
            <ion-col col4><font class="txt">{{post.toDate}} </font></ion-col>
        </ion-row>
        </ion-item>
      </ion-list>
</div>
<div *ngIf="name === '4'">
    <ion-list>
        <ion-item style="background-color: #0091df; margin-top: 3px;border-radius: 8px" *ngFor="let post of posts; " class="trns" (click)="gotoDetails(post)">
    
            <ion-grid>
                <ion-row >
              <ion-col col-9>
                <ion-row>
                  <ion-col col-10><font class="txt">Support No: {{post.ComplainNo}} </font></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6><font class="txt"> Status:{{post.Status}} </font></ion-col>
                </ion-row>
              </ion-col>
            <ion-col col-3 style="color: #66B512" ><ion-row><ion-icon  style="font-size: 30px;padding-left: 7px;" ios="ios-eye" md="md-eye"></ion-icon></ion-row>
              <ion-row>view</ion-row>
              </ion-col>
              </ion-row>
            </ion-grid>
          
           
          
        </ion-item>
      </ion-list>
</div>
<div *ngIf="nodata" style="text-align: center;color: #10384F">
    <ion-card>
      <label style="color: white; font-size: 15px">
       No records found.
      </label>
    </ion-card>
</div>
</ion-content>
