page-aso-completed {
    .force-back-button .back-button {
        display: inline-block;
      }
      .trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; } 
        .card{
          background:		#10384F;
          color: #ffffff;
      }
}
