page-pending {
    .force-back-button .back-button {
        display: inline-block;
      }
      
      .trns{border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(255, 255, 255);}
        .card{
          background:		#10384F;
          color: #ffffff;
      }
}
