page-notifications {
    .trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; } 
        .card{
          background:		#10384F;
          color: #ffffff;
      }

      .label-md {
        margin: 13px 81px 13px 0;
    }
    .label-ios {
        margin: 13px 81px 13px 0;
    }

}
