page-view-return {
    .col {
        padding: 0px;
       }
       .card{
        background:		#10384F;
        color: #ffffff;
        margin-top: 8px;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgb(255, 255, 255);
        margin: 1em 0;
        padding: 0; 
    } 
}
