page-complains {

    .trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; } 
        .card{
          background:		#10384F;
          color: #ffffff;
      }
      .label{
        margin: 0px 8px 0px 0px;

      }
    // .col{
    //     padding-bottom: 0px;
    //     padding-top: 0px
    // }

}
